<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.Thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">

    <script th:inline="javascript">

        $(document).ready(function(){
            var errorMessage = [[${errorMessage}]];
            if(errorMessage != null){
                alert(errorMessage);
            }

            bindDomEvent();

        });

        // 초기 인덱스 설정
        var eduIndex = 0;
        var carIndex = 0;
        var ctfIndex = 0;
        var awdIndex = 0;
        var lagIndex = 0;

        //specificationFormDto 받아오기
        var specificationFormDto = [[${specificationFormDto}]];

        var numberValue = parseInt("-1");

        // 학력 폼
        function createEdu(){
            var objEdu = document.getElementById("eduArea");
            var newEdu = document.createElement("div");

            var eduContent = '<hr class="border border-dark">' +
                '<button type="button" class="btn-close" aria-label="Close" style="float: right"></button>' +
                '<br>' +
                '<div class="row">' +
                '<div class="col">' +
                '<div class="form-group mb-3">' +
                '<label>학교명</label>' +
                '<input type="text" name="educationDtoList[' + eduIndex + '].name" class="form-control">' +
                '</div>' +
                '</div>' +
                '<div class="col">' +
                '<div class="form-group mb-3">' +
                '<label>학과</label>' +
                '<input type="text" name="educationDtoList[' + eduIndex + '].department" class="form-control">' +
                '</div>' +
                '</div>' +
                '</div>' +
                '<div class="row">' +
                '<div class="col">' +
                '<div class="form-group mb-3">' +
                '<label>입학일</label>' +
                '<input type="date" name="educationDtoList[' + eduIndex + '].admissiondate" class="form-control">' +
                '</div>' +
                '</div>' +
                '<div class="col">' +
                '<div class="form-group mb-3">' +
                '<label>졸업일</label>' +
                '<input type="date" name="educationDtoList[' + eduIndex + '].graduationdate" class="form-control">' +
                '</div>' +
                '</div>' +
                '</div>' +
                '<input type="hidden" name="educationIds[' + eduIndex + ']" value="' + numberValue + '">';
            newEdu.innerHTML = eduContent;
            const educlosebutton = newEdu.querySelector('.btn-close');
            educlosebutton.onclick = function() {
                objEdu.removeChild(newEdu);
            };
            objEdu.appendChild(newEdu);
            eduIndex++;
        }

        // 경력 폼
        function createCar(){
            var objCar = document.getElementById("carArea");
            var newCar = document.createElement("div");

            var carContent = '<hr class="border border-dark">' +
                '<button type="button" class="btn-close" aria-label="Close" style="float: right"></button>' +
                '<br>' +
                '<div class="row">' +
                '<div class="col">' +
                '<div class="form-group mb-3">' +
                '<label>회사명</label>' +
                '<input type="text" name="careerDtoList[' + carIndex + '].name" class="form-control">' +
                '</div>' +
                '</div>' +
                '<div class="col">' +
                '<div class="form-group mb-3">' +
                '<label>직책</label>' +
                '<input type="text" name="careerDtoList[' + carIndex + '].position" class="form-control">' +
                '</div>' +
                '</div>' +
                '</div>' +
                '<div class="row">' +
                '<div class="col">' +
                '<div class="form-group mb-3">' +
                '<label>시작일</label>' +
                '<input type="date" name="careerDtoList[' + carIndex + '].startdate" class="form-control">' +
                '</div>' +
                '</div>' +
                '<div class="col">' +
                '<div class="form-group mb-3">' +
                '<label>종료일</label>' +
                '<input type="date" name="careerDtoList[' + carIndex + '].enddate" class="form-control">' +
                '</div>' +
                '</div>' +
                '</div>' +
                '<div class="form-group mb-3">' +
                '<label>상세 내용</label>' +
                '<textarea name="careerDtoList[' + carIndex + '].detail" class="form-control" aria-label="With textarea"></textarea>' +
                '</div>' +
                '<input type="hidden" name="careerIds[' + carIndex + ']" value="' + numberValue + '">';
            newCar.innerHTML = carContent;
            const carclosebutton = newCar.querySelector('.btn-close');
            carclosebutton.onclick = function() {
                objCar.removeChild(newCar);
            };
            objCar.appendChild(newCar);
            carIndex++;
        }

        // 자격증 폼
        function createCtf(){
            var objCtf = document.getElementById("ctfArea");
            var newCtf = document.createElement("div");

            var ctfContent = '<hr class="border border-dark">' +
                '<button type="button" class="btn-close" aria-label="Close" style="float: right"></button>' +
                '<br>' +
                '<div class="row">' +
                '<div class="col">' +
                '<div class="form-group mb-3">' +
                '<label>이름</label>' +
                '<input type="text" name="certificateDtoList[' + ctfIndex + '].name" class="form-control">' +
                '</div>' +
                '</div>' +
                '<div class="col">' +
                '<div class="form-group mb-3">' +
                '<label>등급</label>' +
                '<input type="text" name="certificateDtoList[' + ctfIndex + '].rating" class="form-control">' +
                '</div>' +
                '</div>' +
                '</div>' +
                '<div class="row">' +
                '<div class="col">' +
                '<div class="form-group mb-3">' +
                '<label>발행기관</label>' +
                '<input type="text" name="certificateDtoList[' + ctfIndex + '].organization" class="form-control">' +
                '</div>' +
                '</div>' +
                '<div class="col">' +
                '<div class="form-group mb-3">' +
                '<label>취득일자</label>' +
                '<input type="date" name="certificateDtoList[' + ctfIndex + '].acquisitiondate" class="form-control">' +
                '</div>' +
                '</div>' +
                '</div>' +
                '<input type="hidden" name="certificateIds[' + ctfIndex + ']" value="' + numberValue + '">';
            newCtf.innerHTML = ctfContent;
            const ctfclosebutton = newCtf.querySelector('.btn-close');
            ctfclosebutton.onclick = function() {
                objCtf.removeChild(newCtf);
            };
            objCtf.appendChild(newCtf);
            ctfIndex++;
        }

        // 상훈 폼
        function createAwd(){
            var objAwd = document.getElementById("awdArea");
            var newAwd = document.createElement("div");

            var awdContent = '<hr class="border border-dark">' +
                '<button type="button" class="btn-close" aria-label="Close" style="float: right"></button>' +
                '<br>' +
                '<div class="row">' +
                '<div class="col">' +
                '<div class="form-group mb-3">' +
                '<label>상훈명</label>' +
                '<input type="text" name="awardDtoList[' + awdIndex + '].name" class="form-control">' +
                '</div>' +
                '</div>' +
                '<div class="col">' +
                '<div class="form-group mb-3">' +
                '<label>수상내역</label>' +
                '<input type="text" name="awardDtoList[' + awdIndex + '].rating" class="form-control">' +
                '</div>' +
                '</div>' +
                '</div>' +
                '<div class="row">' +
                '<div class="col">' +
                '<div class="form-group mb-3">' +
                '<label>수여기관</label>' +
                '<input type="text" name="awardDtoList[' + awdIndex + '].organization" class="form-control">' +
                '</div>' +
                '</div>' +
                '<div class="col">' +
                '<div class="form-group mb-3">' +
                '<label>수여일자</label>' +
                '<input type="date" name="awardDtoList[' + awdIndex + '].awarddate" class="form-control">' +
                '</div>' +
                '</div>' +
                '</div>' +
                '<div class="form-group mb-3">' +
                '<label>상세 내용</label>' +
                '<textarea name="awardDtoList[' + awdIndex + '].detail" class="form-control" aria-label="With textarea"></textarea>' +
                '</div>' +
                '<input type="hidden" name="awardIds[' + awdIndex + ']" value="' + numberValue + '">';
            newAwd.innerHTML = awdContent;
            const awdclosebutton = newAwd.querySelector('.btn-close');
            awdclosebutton.onclick = function() {
                objAwd.removeChild(newAwd);
            };
            objAwd.appendChild(newAwd);
            awdIndex++;
        }

        // 어학 폼
        function createLag(){
            var objLag = document.getElementById("lagArea");
            var newLag = document.createElement("div");

            var lagContent = '<hr class="border border-dark">' +
                '<button type="button" class="btn-close" aria-label="Close" style="float: right"></button>' +
                '<br>' +
                '<div class="row">' +
                '<div class="col">' +
                '<div class="form-group mb-3">' +
                '<label>이름</label>' +
                '<input type="text" name="languageDtoList[' + lagIndex + '].name" class="form-control">' +
                '</div>' +
                '</div>' +
                '<div class="col">' +
                '<div class="form-group mb-3">' +
                '<label>점수</label>' +
                '<input type="text" name="languageDtoList[' + lagIndex + '].score" class="form-control">' +
                '</div>' +
                '</div>' +
                '</div>' +
                '<div class="row">' +
                '<div class="col">' +
                '<div class="form-group mb-3">' +
                '<label>취득일자</label>' +
                '<input type="date" name="languageDtoList[' + lagIndex + '].acquisitiondate" class="form-control">' +
                '</div>' +
                '</div>' +
                '<div class="col">' +
                '</div>' +
                '</div>' +
                '<input type="hidden" name="languageIds[' + lagIndex + ']" value="' + numberValue + '">';
            newLag.innerHTML = lagContent;
            const lagclosebutton = newLag.querySelector('.btn-close');
            lagclosebutton.onclick = function() {
                objLag.removeChild(newLag);
            };
            objLag.appendChild(newLag);
            lagIndex++;
        }

        // 학력 필드 렌더링 함수
        function populateEducationFields() {

            var educationData = specificationFormDto.educationDtoList;
            var objEdu = document.getElementById("eduArea");


            for (var i = 0; i < educationData.length; i++) {
                var newEdu = document.createElement("div");

                var eduContent = '<hr class="border border-dark">' +
                    '<button type="button" class="btn-close" aria-label="Close" style="float: right"></button>' +
                    '<br>' +
                    '<div class="row">' +
                    '<div class="col">' +
                    '<div class="form-group mb-3">' +
                    '<label>학교명</label>' +
                    '<input type="text" name="educationDtoList[' + i + '].name" class="form-control" value="' + educationData[i].name + '">' +
                    '</div>' +
                    '</div>' +
                    '<div class="col">' +
                    '<div class="form-group mb-3">' +
                    '<label>학과</label>' +
                    '<input type="text" name="educationDtoList[' + i + '].department" class="form-control" value="' + educationData[i].department + '">' +
                    '</div>' +
                    '</div>' +
                    '</div>' +
                    '<div class="row">' +
                    '<div class="col">' +
                    '<div class="form-group mb-3">' +
                    '<label>입학일</label>' +
                    '<input type="date" name="educationDtoList[' + i + '].admissiondate" class="form-control" value="' + educationData[i].admissiondate + '">' +
                    '</div>' +
                    '</div>' +
                    '<div class="col">' +
                    '<div class="form-group mb-3">' +
                    '<label>졸업일</label>' +
                    '<input type="date" name="educationDtoList[' + i + '].graduationdate" class="form-control" value="' + educationData[i].graduationdate + '">' +
                    '</div>' +
                    '</div>' +
                    '</div>' +
                    '<input type="hidden" name="educationIds[' + i + ']" value="' + educationData[i].id + '">';
                newEdu.innerHTML = eduContent;
                const educlosebutton = newEdu.querySelector('.btn-close');
                educlosebutton.onclick = (function(edu, j) {
                    return function() {
                        objEdu.removeChild(edu);
                        var newInput  = document.createElement("div");
                        newInput .innerHTML ='<input type="hidden" name="educationIds[' + j + ']" value="' + educationData[j].id + '">' ;
                        objEdu.appendChild(newInput);
                    };
                })(newEdu, i);
                objEdu.appendChild(newEdu);
                eduIndex++;
            }
        }

        // 경력 필드 렌더링 함수
        function populateCareerFields() {

            var careerData = specificationFormDto.careerDtoList;
            var objCar = document.getElementById("carArea");


            for (var i = 0; i < careerData.length; i++) {
                var newCar = document.createElement("div");

                var carContent = '<hr class="border border-dark">' +
                    '<button type="button" class="btn-close" aria-label="Close" style="float: right"></button>' +
                    '<br>' +
                    '<div class="row">' +
                    '<div class="col">' +
                    '<div class="form-group mb-3">' +
                    '<label>회사명</label>' +
                    '<input type="text" name="careerDtoList[' + i + '].name" class="form-control" value="' + careerData[i].name + '">' +
                    '</div>' +
                    '</div>' +
                    '<div class="col">' +
                    '<div class="form-group mb-3">' +
                    '<label>직책</label>' +
                    '<input type="text" name="careerDtoList[' + i + '].position" class="form-control" value="' + careerData[i].position + '">' +
                    '</div>' +
                    '</div>' +
                    '</div>' +
                    '<div class="row">' +
                    '<div class="col">' +
                    '<div class="form-group mb-3">' +
                    '<label>시작일</label>' +
                    '<input type="date" name="careerDtoList[' + i + '].startdate" class="form-control" value="' + careerData[i].startdate + '">' +
                    '</div>' +
                    '</div>' +
                    '<div class="col">' +
                    '<div class="form-group mb-3">' +
                    '<label>종료일</label>' +
                    '<input type="date" name="careerDtoList[' + i + '].enddate" class="form-control" value="' + careerData[i].enddate + '">' +
                    '</div>' +
                    '</div>' +
                    '</div>' +
                    '<div class="form-group mb-3">' +
                    '<label>상세 내용</label>' +
                    '<textarea name="careerDtoList[' + i + '].detail" class="form-control" aria-label="With textarea">' + careerData[i].detail + '</textarea>' +
                    '</div>' +
                    '<input type="hidden" name="careerIds[' + i + ']" value="' + careerData[i].id + '">';
                newCar.innerHTML = carContent;
                const carclosebutton = newCar.querySelector('.btn-close');
                carclosebutton.onclick = (function(car, j) {
                    return function() {
                        objCar.removeChild(car);
                        var newInput  = document.createElement("div");
                        newInput .innerHTML = '<input type="hidden" name="careerIds[' + j + ']" value="' + careerData[j].id + '">';
                        objCar.appendChild(newInput);
                    };
                })(newCar, i);

                objCar.appendChild(newCar);
                carIndex++;
            }
        }

        // 자격증 필드 렌더링 함수
        function populateCertificateFields() {

            var certificateData = specificationFormDto.certificateDtoList;
            var objCtf = document.getElementById("ctfArea");

            for (var i = 0; i < certificateData.length; i++) {
                var newCtf = document.createElement("div");

                var ctfContent = '<hr class="border border-dark">' +
                    '<button type="button" class="btn-close" aria-label="Close" style="float: right"></button>' +
                    '<br>' +
                    '<div class="row">' +
                    '<div class="col">' +
                    '<div class="form-group mb-3">' +
                    '<label>이름</label>' +
                    '<input type="text" name="certificateDtoList[' + i + '].name" class="form-control" value="' + certificateData[i].name + '">' +
                    '</div>' +
                    '</div>' +
                    '<div class="col">' +
                    '<div class="form-group mb-3">' +
                    '<label>등급</label>' +
                    '<input type="text" name="certificateDtoList[' + i + '].rating" class="form-control" value="' + certificateData[i].rating + '">' +
                    '</div>' +
                    '</div>' +
                    '</div>' +
                    '<div class="row">' +
                    '<div class="col">' +
                    '<div class="form-group mb-3">' +
                    '<label>발행기관</label>' +
                    '<input type="text" name="certificateDtoList[' + i + '].organization" class="form-control" value="' + certificateData[i].organization + '">' +
                    '</div>' +
                    '</div>' +
                    '<div class="col">' +
                    '<div class="form-group mb-3">' +
                    '<label>취득일자</label>' +
                    '<input type="date" name="certificateDtoList[' + i + '].acquisitiondate" class="form-control" value="' + certificateData[i].acquisitiondate + '">' +
                    '</div>' +
                    '</div>' +
                    '</div>' +
                    '<input type="hidden" name="certificateIds[' + i + ']" value="' + certificateData[i].id + '">';
                newCtf.innerHTML = ctfContent;
                const ctfclosebutton = newCtf.querySelector('.btn-close');
                ctfclosebutton.onclick = (function(ctf, j) {
                    return function() {
                        objCtf.removeChild(ctf);
                        var newInput  = document.createElement("div");
                        newInput .innerHTML = '<input type="hidden" name="certificateIds[' + j + ']" value="' + certificateData[j].id + '">';
                        objCtf.appendChild(newInput);
                    };
                })(newCtf, i);
                objCtf.appendChild(newCtf);
                ctfIndex++;
            }
        }

        // 상훈 필드 렌더링 함수
        function populateAwardFields() {

            var awardData = specificationFormDto.awardDtoList;
            var objAwd = document.getElementById("awdArea");

            for (var i = 0; i < awardData.length; i++) {
                var newAwd = document.createElement("div");

                var awdContent = '<hr class="border border-dark">' +
                    '<button type="button" class="btn-close" aria-label="Close" style="float: right"></button>' +
                    '<br>' +
                    '<div class="row">' +
                    '<div class="col">' +
                    '<div class="form-group mb-3">' +
                    '<label>상훈명</label>' +
                    '<input type="text" name="awardDtoList[' + i + '].name" class="form-control" value="' + awardData[i].name + '">' +
                    '</div>' +
                    '</div>' +
                    '<div class="col">' +
                    '<div class="form-group mb-3">' +
                    '<label>수상내역</label>' +
                    '<input type="text" name="awardDtoList[' + i + '].rating" class="form-control" value="' + awardData[i].rating + '">' +
                    '</div>' +
                    '</div>' +
                    '</div>' +
                    '<div class="row">' +
                    '<div class="col">' +
                    '<div class="form-group mb-3">' +
                    '<label>수여기관</label>' +
                    '<input type="text" name="awardDtoList[' + i + '].organization" class="form-control" value="' + awardData[i].organization + '">' +
                    '</div>' +
                    '</div>' +
                    '<div class="col">' +
                    '<div class="form-group mb-3">' +
                    '<label>수여일자</label>' +
                    '<input type="date" name="awardDtoList[' + i + '].awarddate" class="form-control" value="' + awardData[i].awarddate + '">' +
                    '</div>' +
                    '</div>' +
                    '</div>' +
                    '<div class="form-group mb-3">' +
                    '<label>상세 내용</label>' +
                    '<textarea name="awardDtoList[' + i + '].detail" class="form-control" aria-label="With textarea">' + awardData[i].detail + '</textarea>' +
                    '</div>' +
                    '<input type="hidden" name="awardIds[' + i + ']" value="' + awardData[i].id + '">';
                newAwd.innerHTML = awdContent;
                const awdclosebutton = newAwd.querySelector('.btn-close');
                awdclosebutton.onclick = (function(awd, j) {
                    return function() {
                        objAwd.removeChild(awd);
                        var newInput  = document.createElement("div");
                        newInput .innerHTML ='<input type="hidden" name="awardIds[' + j + ']" value="' + awardData[j].id + '">';
                        objAwd.appendChild(newInput);
                    };
                })(newAwd, i);
                objAwd.appendChild(newAwd);
                awdIndex++;
            }
        }

        // 어학 필드 렌더링 함수
        function populateLanguageFields() {

            var languageData = specificationFormDto.languageDtoList;
            var objLag = document.getElementById("lagArea");

            for (var i = 0; i < languageData.length; i++) {
                var newLag = document.createElement("div");

                var lagContent = '<hr class="border border-dark">' +
                    '<button type="button" class="btn-close" aria-label="Close" style="float: right"></button>' +
                    '<br>' +
                    '<div class="row">' +
                    '<div class="col">' +
                    '<div class="form-group mb-3">' +
                    '<label>이름</label>' +
                    '<input type="text" name="languageDtoList[' + i + '].name" class="form-control" value="' + languageData[i].name + '">' +
                    '</div>' +
                    '</div>' +
                    '<div class="col">' +
                    '<div class="form-group mb-3">' +
                    '<label>점수</label>' +
                    '<input type="text" name="languageDtoList[' + i + '].score" class="form-control" value="' + languageData[i].score + '">' +
                    '</div>' +
                    '</div>' +
                    '</div>' +
                    '<div class="row">' +
                    '<div class="col">' +
                    '<div class="form-group mb-3">' +
                    '<label>취득일자</label>' +
                    '<input type="date" name="languageDtoList[' + i + '].acquisitiondate" class="form-control" value="' + languageData[i].acquisitiondate + '">' +
                    '</div>' +
                    '</div>' +
                    '<div class="col">' +
                    '</div>' +
                    '</div>' +
                    '<input type="hidden" name="languageIds[' + i + ']" value="' + languageData[i].id + '">';
                newLag.innerHTML = lagContent;
                const lagclosebutton = newLag.querySelector('.btn-close');
                lagclosebutton.onclick = (function(lag, j) {
                    return function() {
                        objLag.removeChild(lag);
                        var newInput  = document.createElement("div");
                        newInput .innerHTML ='<input type="hidden" name="languageIds[' + j + ']" value="' + languageData[j].id + '">';
                        objLag.appendChild(newInput);
                    };
                })(newLag, i);
                objLag.appendChild(newLag);
                lagIndex++;
            }
        }

        // 페이지 로드 시 학력 필드를 채우는 함수 호출
        window.onload = function () {
            if(specificationFormDto != null){
                populateEducationFields();
                populateCareerFields();
                populateCertificateFields();
                populateAwardFields();
                populateLanguageFields();
            }

        };

    </script>

</th:block>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .container {
            margin-top: 10px;
        }
    </style>
</th:block>

<div layout:fragment="content">
    <form role="form" method="post" enctype="multipart/form-data">

        <p class="h1" style="text-align: center">
            경력 사항
        </p>
        <!-- 신상 정보 수정시에는 id값이 있어야 함 -->
        <input type="hidden">

        <div class="container rounded-4 bg-dark-subtle mx-auto p-4">
            <p class="fs-4">학력</p>
            <div id = "eduArea">

            </div>
            <div class="d-grid gap-2">
                <button class="btn btn-secondary" type="button" onclick="javascript:createEdu();">학력 추가하기</button>
            </div>
        </div>

        <div class="container rounded-4 bg-dark-subtle mx-auto p-4">
            <p class="fs-4">경력</p>
            <div id = "carArea">

            </div>
            <div class="d-grid gap-2">
                <button class="btn btn-secondary" type="button" onclick="javascript:createCar();">경력 추가하기</button>
            </div>
        </div>

        <div class="container rounded-4 bg-dark-subtle mx-auto p-4">
            <p class="fs-4">자격증</p>
            <div id = "ctfArea">

            </div>
            <div class="d-grid gap-2">
                <button class="btn btn-secondary" type="button" onclick="javascript:createCtf();">자격증 추가하기</button>
            </div>
        </div>

        <div class="container rounded-4 bg-dark-subtle mx-auto p-4">
            <p class="fs-4">상훈</p>
            <div id = "awdArea">

            </div>
            <div class="d-grid gap-2">
                <button class="btn btn-secondary" type="button" onclick="javascript:createAwd();">상훈 추가하기</button>
            </div>
        </div>

        <div class="container rounded-4 bg-dark-subtle mx-auto p-4">
            <p class="fs-4">어학</p>
            <div id = "lagArea">

            </div>
            <div class="d-grid gap-2">
                <button class="btn btn-secondary" type="button" onclick="javascript:createLag();">어학 추가하기</button>
            </div>
        </div>

        <div class="mb-3 mx-auto p-3">
            <div style="text-align: center">
                <button th:formaction="@{/resume/spec}" type="submit" class="btn btn-primary btn-lg">등록</button>
            </div>
        </div>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    </form>

</div>
</html>